<% include ./partials/header %> 

<form action="/new/newadmin" method="post">
    <input type="text" class="form-control" name="username" placeholder="username">
    <input type="email" class="form-control" name="email"  placeholder="Enter email">
    <input type="text" class="form-control" name="contact" placeholder="contact nunber">
    <input type="password" class="form-control" name="password" placeholder="password">
    <button>Sign Up</button>
</form>

<% include ./partials/footer %> 