<% include ../partials/header %> 
<div class="container" id="jumbo">
    <h1 class="display-4">Newsletter</h1>
    <p class="lead">Keep yourself informed</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </p>
  </div>
<% include ../partials/footer %>